<a href="https://colab.research.google.com/github/nabilaaaa24/data_mining/blob/main/Praktikum_Modul_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Buatlah sebuah fungsi yang menerima list sebagai parameter dan melakukan operasi berikut:


*   Menambahkan 4 elemen numerik acak.
*   Menghapus elemen di indeks ganjil.
*   Membalik urutan elemen dalam list.
*   Menggandakan elemen pertama dan menambahkannya ke akhir list.
*   Mencari dan menghapus elemen dengan nilai terkecil dalam list.
*   Mengurutkan list secara ascending.

In [1]:
import random

def list_manipulation(input_list):
    # Menambahkan 4 elemen numerik acak.
    for _ in range(4):
        input_list.append(random.randint(1, 100))
    print("a. Menambahkan elemen acak:", input_list)

    # Menghapus elemen di indeks ganjil.
    input_list = [element for index, element in enumerate(input_list) if index % 2 == 0]
    print("b. Menghapus elemen di indeks ganjil:", input_list)

    # Membalik urutan elemen dalam list.
    input_list.reverse()
    print("c. Membalik urutan elemen:", input_list)

    # Menggandakan elemen pertama dan menambahkannya ke akhir list.
    first_element = input_list[0]
    input_list.append(first_element * 2)
    print("d. Menggandakan elemen pertama dan menambahkan di akhir list:", input_list)

    # Mencari dan menghapus elemen dengan nilai terkecil dalam list.
    min_value = min(input_list)
    input_list = [element for element in input_list if element != min_value]
    print("e. Menghapus elemen dengan nilai terkecil:", input_list)

    # Mengurutkan list secara ascending.
    input_list.sort()
    print("f. Mengurutkan secara ascending:", input_list)

    return input_list

awal = [random.randint(1, 10) for _ in range(5)]
result = list_manipulation(awal)
print("Hasil manipulasi list:", result)

a. Menambahkan elemen acak: [8, 9, 4, 1, 10, 38, 43, 48, 37]
b. Menghapus elemen di indeks ganjil: [8, 4, 10, 43, 37]
c. Membalik urutan elemen: [37, 43, 10, 4, 8]
d. Menggandakan elemen pertama dan menambahkan di akhir list: [37, 43, 10, 4, 8, 74]
e. Menghapus elemen dengan nilai terkecil: [37, 43, 10, 8, 74]
f. Mengurutkan secara ascending: [8, 10, 37, 43, 74]
Hasil manipulasi list: [8, 10, 37, 43, 74]

2. Buatlah sebuah tuple yang berisi pasangan nilai mata pelajaran dan skor ujian siswa, buatlah sebuah fungsi yang mampu melakukan hal-hal berikut:


*   Menghapus entri yang tidak lengkap atau memiliki nilai kosong.
*   Menghilangkan entri dengan mata pelajaran yang sama, menyisakan hanya skor tertinggi.
*   Menghitung jumlah total entri yang tersisa.
*   Mengurutkan entri berdasarkan skor dari yang terendah hingga tertinggi.

Gunakan data berikut untuk membuat tuple:

In [ ]:
scores = [
    ('Matematika', '85'),
    ('Biologi', ''),
    ('Kimia', '90'),
    ('Fisika', '80'),
    ('Matematika', '88'),
    ('Biologi', '95'),
    ('', '100'),
    ('Fisika', '82'),
]

In [ ]:
def process_scores(scores):
    # Menghapus entri yang tidak lengkap atau memiliki nilai kosong
    scores = tuple((subject, score) for subject, score in scores if subject != '' and score != '')

    # Menghilangkan entri dengan mata pelajaran yang sama, menyimpan skor tertinggi untuk setiap mata pelajaran
    subject_scores = {}
    for subject, score in scores:
        if subject not in subject_scores or int(score) > int(subject_scores[subject]):
            subject_scores[subject] = score

    filtered_scores = tuple(subject_scores.items())

    # Menghitung jumlah total entri yang tersisa
    total_entries = len(filtered_scores)

    # Mengurutkan entri berdasarkan skor dari yang terendah hingga tertinggi
    sorted_scores = tuple(sorted(filtered_scores, key=lambda x: int(x[1])))

    return {
        'filtered_scores': filtered_scores,
        'total_entries': total_entries,
        'sorted_scores': sorted_scores
    }


result = process_scores(scores)

print("Filtered Scores:", result['filtered_scores'])
print("Total Entries:", result['total_entries'])
print("Sorted Scores:", result['sorted_scores'])

Filtered Scores: (('Matematika', '88'), ('Kimia', '90'), ('Fisika', '82'), ('Biologi', '95'))
Total Entries: 4
Sorted Scores: (('Fisika', '82'), ('Matematika', '88'), ('Kimia', '90'), ('Biologi', '95'))

3. Gunakan NumPy untuk membuat sebuah array dengan elemen numerik acak. Kemudian lakukan :

*   Normalisasi array tersebut menggunakan Min-Max Scaling.
*   Urutkan array tersebut berdasarkan nilai terbesar ke terkecil.

In [ ]:
import numpy as np

# Array dengan elemen numerik acak
array_random = np.random.rand(5) * 100

# Normalisasi menggunakan Min-Max Scaling
min_value = np.min(array_random)
max_value = np.max(array_random)

normalized_array = (array_random - min_value) / (max_value - min_value)

print("Array Numerik Acak:")
print(array_random)

print("\nNormalisasi Array menggunakan Min-Max Scaling:")
print(normalized_array)

# Urutkan array dari nilai terbesar ke terkecil
sorted_array = np.sort(array_random)[::-1]

print("\nArray Dari Nilai Terbesar ke Terkecil:")
print(sorted_array)

Array Numerik Acak:
[ 2.94413492 70.62002053 57.23185119 13.80495034 54.93602569]

Normalisasi Array menggunakan Min-Max Scaling:
[0.         1.         0.80217223 0.1604828  0.7682484 ]

Array Dari Nilai Terbesar ke Terkecil:
[70.62002053 57.23185119 54.93602569 13.80495034  2.94413492]

Buatlah satu dataframe yang terdiri dari 10 baris x 6 kolom, dengan informasi sebagai berikut:

In [ ]:
import pandas as pd

data = {
    'Merk Mobil': ['Toyota', 'Honda', 'Suzuki', 'Hyundai', 'Mazda', 'Ford', 'BMW', 'Mercendes', 'Mitsubishi', 'Nissan'],
    'Kota Penjualan': ['Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Bandung', 'Jakarta', 'Surabaya', 'Jakarta', 'Bandung', 'Surabaya'],
    'Harga (Juta Rupiah)': [200, 150, 120, 180, 220, 250, 500, 550, 200, 170],
    'Tahun': ['2015', '2016', '2017', '2018', '2015', '2016', '2017', '2018', '2015', '2016'],
    'Status': ['Sold', 'Sold', 'Available', 'Sold', 'Available', 'Sold', 'Sold', 'Available', 'Sold', 'Available']
}

df = pd.DataFrame(data)
print(df)

   Merk Mobil Kota Penjualan  Harga (Juta Rupiah) Tahun     Status
0      Toyota        Jakarta                  200  2015       Sold
1       Honda        Bandung                  150  2016       Sold
2      Suzuki        Jakarta                  120  2017  Available
3     Hyundai       Surabaya                  180  2018       Sold
4       Mazda        Bandung                  220  2015  Available
5        Ford        Jakarta                  250  2016       Sold
6         BMW       Surabaya                  500  2017       Sold
7   Mercendes        Jakarta                  550  2018  Available
8  Mitsubishi        Bandung                  200  2015       Sold
9      Nissan       Surabaya                  170  2016  Available

Kemudian lakukan analisis berikut pada DataFrame tersebut :


*   Tampilkan ringkasan statistik deskriptif untuk kolom numerik yang mencakup nilai minimum, maksimum, jumlah, rata-rata, standar deviasi, serta nilai kuartil 1, 2, dan 3.
*   Tentukan Top 3 Kota dengan jumlah mobil terjual terbanyak.
*   Tampilkan mobil yang memiliki harga yang sama.
*   Buatlah sebuah kolom baru yang berisi kategori 'Murah', 'Sedang', atau 'Mahal' berdasarkan harga. Kategorisasi didasarkan pada aturan: harga di bawah kuartil 1 dikategorikan sebagai 'Murah', harga di atas kuartil 3 dikategorikan sebagai 'Mahal', dan sisanya dikategorikan sebagai 'Sedang'

In [ ]:
import pandas as pd

# Membuat DataFrame
data = {
    'Merk Mobil': ['Toyota', 'Honda', 'Suzuki', 'Hyundai', 'Mazda', 'Ford', 'BMW', 'Mercendes', 'Mitsubishi', 'Nissan'],
    'Kota Penjualan': ['Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Bandung', 'Jakarta', 'Surabaya', 'Jakarta', 'Bandung', 'Surabaya'],
    'Harga (Juta Rupiah)': [200, 150, 120, 180, 220, 250, 500, 550, 200, 170],
    'Tahun': ['2015', '2016', '2017', '2018', '2015', '2016', '2017', '2018', '2015', '2016'],
    'Status': ['Sold', 'Sold', 'Available', 'Sold', 'Available', 'Sold', 'Sold', 'Available', 'Sold', 'Available']
}

df = pd.DataFrame(data)
print(df)

# Tampilkan ringkasan statistik deskriptif
descriptive_stats = df.describe(include='all')

# Tentukan Top 3 Kota dengan jumlah mobil terjual terbanyak
top_kota_terjual = df[df['Status'] == 'Sold']['Kota Penjualan'].value_counts().nlargest(3)

# Tampilkan mobil yang memiliki harga yang sama
harga_sama = df[df.duplicated(['Harga (Juta Rupiah)'], keep=False)]

# Buat kolom baru untuk kategori harga
quartiles = df['Harga (Juta Rupiah)'].quantile([0.25, 0.5, 0.75])
def kategori_harga(harga):
    if harga < quartiles[0.25]:
        return 'Murah'
    elif harga > quartiles[0.75]:
        return 'Mahal'
    else:
        return 'Sedang'

df['Kategori Harga'] = df['Harga (Juta Rupiah)'].apply(kategori_harga)

print("\n\na. Ringkasan Statistik Deskriptif:")
print(descriptive_stats)
print("\n\nb. Top 3 Kota dengan jumlah mobil terjual terbanyak:")
print(top_kota_terjual)
print("\n\nc. Mobil dengan harga yang sama:")
print(harga_sama)
print("\n\nd. DataFrame dengan kolom Kategori Harga:")
print(df)

   Merk Mobil Kota Penjualan  Harga (Juta Rupiah) Tahun     Status
0      Toyota        Jakarta                  200  2015       Sold
1       Honda        Bandung                  150  2016       Sold
2      Suzuki        Jakarta                  120  2017  Available
3     Hyundai       Surabaya                  180  2018       Sold
4       Mazda        Bandung                  220  2015  Available
5        Ford        Jakarta                  250  2016       Sold
6         BMW       Surabaya                  500  2017       Sold
7   Mercendes        Jakarta                  550  2018  Available
8  Mitsubishi        Bandung                  200  2015       Sold
9      Nissan       Surabaya                  170  2016  Available


a. Ringkasan Statistik Deskriptif:
       Merk Mobil Kota Penjualan  Harga (Juta Rupiah) Tahun Status
count          10             10            10.000000    10     10
unique         10              3                  NaN     4      2
top        Toyota        Jakarta                  NaN  2015   Sold
freq            1              4                  NaN     3      6
mean          NaN            NaN           254.000000   NaN    NaN
std           NaN            NaN           147.738508   NaN    NaN
min           NaN            NaN           120.000000   NaN    NaN
25%           NaN            NaN           172.500000   NaN    NaN
50%           NaN            NaN           200.000000   NaN    NaN
75%           NaN            NaN           242.500000   NaN    NaN
max           NaN            NaN           550.000000   NaN    NaN


b. Top 3 Kota dengan jumlah mobil terjual terbanyak:
Jakarta     2
Bandung     2
Surabaya    2
Name: Kota Penjualan, dtype: int64


c. Mobil dengan harga yang sama:
   Merk Mobil Kota Penjualan  Harga (Juta Rupiah) Tahun Status
0      Toyota        Jakarta                  200  2015   Sold
8  Mitsubishi        Bandung                  200  2015   Sold


d. DataFrame dengan kolom Kategori Harga:
   Merk Mobil Kota Penjualan  Harga (Juta Rupiah) Tahun     Status  \
0      Toyota        Jakarta                  200  2015       Sold
1       Honda        Bandung                  150  2016       Sold
2      Suzuki        Jakarta                  120  2017  Available
3     Hyundai       Surabaya                  180  2018       Sold
4       Mazda        Bandung                  220  2015  Available
5        Ford        Jakarta                  250  2016       Sold
6         BMW       Surabaya                  500  2017       Sold
7   Mercendes        Jakarta                  550  2018  Available
8  Mitsubishi        Bandung                  200  2015       Sold
9      Nissan       Surabaya                  170  2016  Available

  Kategori Harga
0         Sedang
1          Murah
2          Murah
3         Sedang
4         Sedang
5          Mahal
6          Mahal
7          Mahal
8         Sedang
9          Murah